<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NBA Stats</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center" >
      <h1>NBA Statistics</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>

    </div>
<div class="row">
  <div class="col-sm-12">

<form method="post" action="{{ url_for('inputstoo') }}">
        <fieldset>
            <legend align="center">Please enter inputs below prior to scraping data:</legend>
            <table class="table" align="center">
              <tr>
                <td>SELECT</td>
<!--                 <td><input name='select' class="form-control" id="select" value="col name"></td> -->
                <td><select multiple class="form-control" name="select" id="select">
                  <option>Player</option>
                  <option>Season</option>
                  <option>Country</option>
                  <option>And1</option>
                  <option>OnCourt</option>
                </select>
                </td>
              </tr>
              <tr>
                <td>WHERE</td>
                <td><input name='where' class="form-control" id="where" value='use " " operator'></td>
              </tr>
              <tr>
                <td>ORDER BY</td>
                <td><input name='order' class="form-control" id="order" value=""></td>
              </tr>
              <tr>
                <td>GROUP BY</td>
                <td><input name='group' class="form-control" id="group" value=""></td>
              </tr>
            </table>
            <div class="form-group"><label for="byo">Or Build your own: </label>
                <textarea class="form-control" name='byo' id="byo" rows="3" value=""></textarea>
                 </div>
            <input type='submit' value='Submit Form'>
        </fieldset>
    </form>
  </div>
  </div><br>
<div>{{stats|safe}}</div>
</div>

</div>

</body>
</html>