<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NBA Stats</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center" >
      <h1>NBA Statistics</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>

    </div><
<div class="row">
  <div class="col-sm-6">
<form method="post" action="{{ url_for('inputs') }}">
        <fieldset>
            <legend align="center">Please enter inputs below prior to scraping data:</legend>
            <ul>
                <li>Username: 
                  <input name='user' id="user" value="Type BKRef Username">
                </li>
                <li>Password: 
                  <input name='pass' id="pass" value="Type BKRef Username" type="password">
                </li>
                <li>Start Year: 
                  <input name='start' id="start" value="e.g. 2010">
                </li>
                <li>Years: 
                  <input name='years' id="years" value="e.g. 5">
                </li>
                <li>Type: 
                  <input name='dtype' id="dtype" value="Enter 'Totals' or 'Advanced'">
                </li>
            </ul><input type='submit' value='Submit Form'>
        </fieldset>
    </form>
  </div>
  <div class="col-sm-6">
    <legend align="center">Get Pumped While You Wait!</legend><br>
           <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/u-cSFPglc90?start=3&autoplay=1" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
           
          </div></div>
    <hr>

<div>
    <a href="/top_players"> Click Here to See the Top Players</a><br>
    <a href="/custom"> Click Here to View Query (built with custom.py file)</a>
  </div><br>

    <div>{{stats|safe}}</div>
    


  </div>
</body>

</html>
