<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NBA Stats</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="style.css"> -->
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center" >
      <h1>NBA Statistics</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>

    </div><
<div class="row">
  <div class="col-sm-6">
<form method="post" action="{{ url_for('inputs') }}">
        <fieldset>
            <legend align="center">Please enter inputs below prior to scraping data:</legend>
            <table class="table" align="center">
              <tr>
                <td>Username</td>
                <td><input name='user' id="user" value="Type BKRef Username"></td>
              </tr>
              <tr>
                <td>Password</td>
                <td><input name='pass' id="pass" value="Type BKRef Username" type="password"></td>
              </tr>
              <tr>
                <td>Start Year</td>
                <td><input name='start' id="start" value="e.g. 2010"></td>
              </tr>
              <tr>
                <td>Years</td>
                <td><input name='years' id="years" value="e.g. 5"></td>
              </tr>
            </table>
            <div class="form-check form-check-inline">Data to return (Select One):<br>
              <input class="form-check-input" name="dtype" type="checkbox" id="totals" value="totals">
              <label class="form-check-label" for="inlineCheckbox1">Totals</label>
                <input class="form-check-input" name="dtype" type="checkbox" id="pergame" value="pergame">
              <label class="form-check-label" for="inlineCheckbox2">Per Game</label>
                <input class="form-check-input" name="dtype" type="checkbox" id="per36" value="per36">
              <label class="form-check-label" for="inlineCheckbox3">Per 36</label>
                <input class="form-check-input" name="dtype" type="checkbox" id="per100" value="per100">
              <label class="form-check-label" for="inlineCheckbox4">Per 100 Possesions</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" name="dtype" type="checkbox" id="advanced" value="advanced">
              <label class="form-check-label" for="inlineCheckbox5">Advanced</label>
                <input class="form-check-input" name="dtype" type="checkbox" id="pbp" value="pbp">
              <label class="form-check-label" for="inlineCheckbox6">Play-by-Play</label>
                <input class="form-check-input" name="dtype" type="checkbox" id="shooting" value="shooting">
              <label class="form-check-label" for="inlineCheckbox7">Shooting</label>
            </div>
            <input type='submit' value='Submit Form'>
        </fieldset>
    </form>
  </div>
  <div class="col-sm-6">
    <legend align="center">Get Pumped While You Wait!</legend><br>
      Most recent inputs:
      <ul>
        <li>Years: {{last_inputs[1]}} - {{last_inputs[2]}}</li>
        <li>Data Type: {{last_inputs[0]}}</li>
      </ul>
      Table Below:
      <ul>
        <li>Years: {{content.Season.iloc[0]}} - {{content.Season.iloc[-1]}}</li>
        <li>Data Type: </li>
      </ul>      
      
          </div></div>
    <hr>

<div>
    <a href="/top_players"> Click Here to See the Top Players</a><br>
    <a href="/custom"> Click Here to View Query (built with custom.py file)</a>
  </div><br>

    <div>{{stats|safe}}</div>
    


  </div>
</body>

</html>
